*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
/colorapp/ecs_colorapp_stack.py
new_cdk_appmesh_redo/
vpc/
ecsstackbackup.py.back
xray-container.json
envoy-container.json
create-task-defs.sh
colorteller-base-task-def.json
colorgateway-base-task-def.json