bleach==3.3.0
build==0.3.1.post1
certifi==2022.12.7
chardet==4.0.0
click==7.1.2
colorama==0.4.4
docutils==0.17.1
Flask==1.1.2
idna==2.10
importlib-metadata==4.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==23.0.1
MarkupSafe==1.1.1
packaging==20.9
pep517==0.10.0
pkginfo==1.7.0
Pygments==2.9.0
pyparsing==2.4.7
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.16.0
toml==0.10.2
tqdm==4.60.0
twine==3.4.1
urllib3==1.26.5
waitress==2.1.2
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.4.1
