<!DOCTYPE HTML>
<html>
<body>
<h1> Test Page </h1>
<form action="/upload" method="post">
<br> ProjectNo: <input type="text" name="ProjectNo" /> <br> 
<br> INPUT_BUCKET: <input type="text" name="INPUT_BUCKET" /> <br> 
<br> OUTPUT_BUCKET: <input type="text" name="OUTPUT_BUCKET" /> <br>
<br> INPUT_KEY: <input type="text" name="INPUT_KEY" /> <br>
<br> SPLIT_NUM: <input type="number" name="SPLIT_NUM" min="10000" max="500000" default="30000"> <br>
<br> <input type="submit" />
</form>

</body>
</html>
